<form id="create-entry-form" method="get" action="#/createRow">
    <div class="col wide">
        <input name="type" class="row-entry" placeholder="Product name">
    </div>
    <div class="col wide">
        <input name="qty" class="row-entry" placeholder="Quantity">
    </div>
    <div class="col wide">
        <input name="price" class="row-entry" placeholder="Price per Unit">
    </div>
    <div class="col">Sub-total</div>
    <div class="col">
        <input id="addItemBtn" type="submit" value="Add"/>
    </div>
</form>