<div class="row">
    <div class="col wide">{{this.creation}}</div>
    <div class="col wide">{{this.productCount}}</div>
    <div class="col">{{this.total}}</div>
    <div class="col">
        <a href="#/receiptDetails:{{this._id}}">Details</a>
    </div>
</div>